@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.cl-formFieldInput:-webkit-autofill,
.cl-formFieldInput:-webkit-autofill:hover, 
.cl-formFieldInput:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0px 1000px #161616 inset !important;
  transition: #161616 5000s ease-in-out 0s !important;
}

/* For modern browsers supporting :autofill */
.cl-formFieldInput:autofill,
.cl-formFieldInput:autofill:hover, 
.cl-formFieldInput:autofill:focus {
  -webkit-text-fill-color: #ffffff !important;
  box-shadow: 0 0 0px 1000px #161616 inset !important;
  transition: #161616 5000s ease-in-out 0s !important;
}

.cl-menuButtonEllipsis {
  color: #ffffff !important;
}
.cl-badge {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) !important;  /* Semi-transparent border */
  color: rgba(255, 255, 255, 0.7) !important;                 /* 70% opacity text */
  background-color: rgba(255, 255, 255, 0.1) !important;     /* Slight background tint */
  backdrop-filter: blur(2px) !important;                      /* Optional: Soften edges */
  transition: opacity 0.2s ease-in-out !important;            /* Smooth hover effect */
}

.cl-active {
  background-color: rgba(245, 151, 47, 0.2) !important; /* 0.2 = 20% opacity */
}






